<!DOCTYPE html>
<html>
<head>
  <title>MorseSqlDump</title>
  <%= stylesheet_link_tag    "morse_sql_dump/application", media: "all" %>
  <%= javascript_include_tag "morse_sql_dump/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
